body {
  @apply bg-slate-200;
}

.slide-in-enter-active,
.slide-in-leave-active {
  transition: all 0.1s linear;
}

.slide-in-enter-from,
.slide-in-leave-to {
  transform: translateY(200%);
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}